archinfo
atomicwrites
attrs
bitstring
cffi
cycler
future
greenstalk
kiwisolver
matplotlib
more-itertools
numpy
pandas
pathlib2
pluggy
py
pycparser
pyelftools
pyparsing
pytest
python-dateutil
pytz
pyvex
PyYAML
scikit-learn
scipy
six
sklearn
yapf
intervaltree
